<div class="commentbox col-10 offset-1 text-center">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: false, label: false %><br>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.input :username,
                    required: true,
                    label: false,
                    placeholder: "username" %><br>
        <%= f.input :password,
                    required: false,
                    label: false,
                    placeholder: "new password (leave blank if you don't want to change it)",
                    input_html: { autocomplete: "new-password" } %><br>
        <%= f.input :password_confirmation,
                    required: false,
                    label: false,
                    placeholder: "confirm new password",
                    input_html: { autocomplete: "new-password" } %><br>

        <%= f.input :current_password,
                    required: true,
                    label: false,
                    placeholder: "enter current password to confirm changes",
                    input_html: { autocomplete: "current-password" } %>
        <br />
      </div>
    <br>

      <div class="form-actions col-6 offset-3">
        <%= f.button :submit, "update userinfo", class: "btn btn-success btn-block" %>
      </div>
    <% end %>
    <br>

    <div class="addavatar commentbox">
      <p>add or change your avatar</p>
      <% if @user.avatar.attached? %>
        <image src="<%= (url_for(@user.avatar)) %>"></image>
      <% end %>
      <%= form_with(url: avatar_path(resource), method: :post, multipart: true) do %>
        <%= file_field_tag :avatar %>
        <%= submit_tag "upload photo" %>
      <% end %>
    </div>

    <div class="box col-6 offset-3">
        <p>Unhappy? <%= link_to "Delete my account", registration_path(resource_name), class: "btn btn-sm btn-danger", data: { confirm: "Are you sure?" }, method: :delete %></p>
    </div>

    <%= link_to "Back", :back %>
</div>