<div class="commentbox col-10 offset-1">
  <h1 class="title"><%= @topic.title %></h1>
  <p><%= @topic.content %></p>
  <small><%= @topic.comments.count %>
  <% if @topic.comments.count == 1 %>
    <%= " comment" %>
  <% else %>
    <%= " comments" %></small><br />
  <% end %>
  <% if @topic.comments.present? %>
    <div>
      <%# add user info & avatar %>
      <%= render @topic.comments %>
    </div>
  <% end %>
  <br />
  <%= render "comments/new" %>

  <% if current_user == @topic.user %>
    <%= link_to 'edit', edit_topic_path(@topic) %> |
    <%= link_to 'delete', topic_path(@topic), method: :delete, data: { confirm: 'Are you sure you want to delete this post?' } %> |
  <% end %>
  <%= link_to 'home', topics_path %>
</div>