<div class="userprofile">
  <div class="usertop offset-1">
    <% if @user.avatar.attached? %>
      <div class="commentbox col-3">
        <%= image_tag(@user.thumbnail) %>
      </div>
    <% end %>
    <small>
      Member for <%= time_ago_in_words(@user.created_at) %><br>
      <%= @user.comments.count %> posts
    </small>
    <br />

    <% if current_user && current_user == @user %>
      <%= link_to "edit profile", edit_user_registration_path(@user), class: "col-3 btn btn-sm btn-danger" %><br><br />
    <% end %>
  </div>
  <div class="userbody_left">
    <div class="userposts commentbox">
      <h3 class="text-center">recent posts</h3>
      <hr class="line">
      <% @user.comments.take(5).each do |comment| %>
        <i><%= "\"" %><%= comment.comment %><%= "\"" %></i><%= " on " %><b><%= link_to comment.topic.title, topic_path(comment.topic) %></b><br>
      <% end %>
    </div>
    <br>


    <div class="userpics commentbox">
      <h3 class="text-center">image gallery</h3>
      <hr class="line">

    </div>
  </div>

  <br class="clr" />

  <div class="userbody_right">

    <div class="usereggs commentbox">
      <h3 class="text-center">my eggs</h3>
      <hr class="line">

    </div>
    <br>
    <div class="userdragons commentbox">
      <h3 class="text-center">my dragons</h3>
      <hr class="line">

    </div>
  </div>
  <br class="clr" />
</div>