<!DOCTYPE html>
<html>
  <head>
    <title>Wyrmnest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="topnav">
      <nav class="navbar navbar-inverse bg-inverse">
        <a class="navbar-brand" href="/">Wyrmnest</a>
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Welcome, #{current_user.username}!", user_path(current_user), class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'logout', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'login', new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'register', new_user_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </nav>
  </div>

    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
    <div id="footer">
      <div class="container">
        <nav class="navbar sticky-bottom navbar-inverse bg-inverse">
          <% if user_signed_in? %>
            <%= link_to 'logout', destroy_user_session_path, method: :delete %>&nbsp;
          <% else %>
            <%= link_to 'login', new_user_session_path %>&nbsp;
            <%= link_to 'register', new_user_registration_path %>&nbsp;
          <% end %>
          <%= link_to 'forum', topics_path %>&nbsp;
          <%= link_to 'main page', root_path %>&nbsp;
        </nav>
      </div>
    </div>
  </body>
</html>
