<!DOCTYPE html>
<html>
  <head>
    <title>Wyrmnest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
    <div id="footer">
      <div class="container">
        <b>add links</b>
        <br />
        <%= link_to 'login', new_user_session_path %>
        <%= link_to 'create an account', new_user_registration_path %>
        <%= link_to 'forum', '#' %>
        <%# add link to forum once forum is created %>
      </div>
    </div>
  </body>
</html>
